html, body {

    height: 100%;
    margin: 0;
    padding: 0;

  }
  
  .calendar-page {

    display: flex;
    flex-direction: column;
    height: 100vh;
 
  }
  
  .calendar-view {
    
    display: flex;
    justify-content: center;
    align-items: center;

  }
  
  .react-calendar {

    width: 100% !important; 
    height: 100% !important; 

  }
  
  ul {

    padding: 0;
    list-style-type: none;
    margin: 10px;
    overflow-y: auto;

  }

  .event-day {
    background-color: #4CAF50; /* Cor de destaque para o dia */
    color: white;
  }
  
  .react-calendar__tile--active {
    background-color: #FFD700; /* Cor quando o dia é selecionado */
  }
  
  form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 300px;  /* Tamanho do formulário, você pode ajustar */
    margin: 0 auto;  /* Para centralizar o formulário */
  }
  
  form label {
    font-weight: bold;
  }
  
  form input, form textarea {
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  form button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  form button:hover {
    background-color: #0056b3;
  }
  